body{
	align-items: center;
	display: grid;
	background: white;
	font-size: 18px;	
}
#info{
	align-items: center;
	margin-bottom: 30px;
	max-width: 500px;
	color: white;
	background-color: #6699cc;
	border-radius: 10px;
	padding: 20px;

}
h1{
	text-align: center;
	width: 100%;
	margin-bottom: 10px;
        font-size: 1.5em;
	font-weight: 400;
	font-family: 'Bree Serif','Fira Sans', 'Outfit', sans-serif;
}
p{
	text-align: center;
	width: 100%;
	margin-bottom: 10px;
	font-family: 'Outfit', 'Fira Sans', 'Bree Serif', sans-serif;
}
form {
    max-width: 800px;
    padding: 25px;
    margin: 0 auto;
    box-shadow: 0 2px 5px #f5f5f5; 
    background: #f5f5f5; 
    font-family: 'Outfit', sans-serif;
}
input{
    box-sizing: border-box;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input,textarea{
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #6699cc;
    outline: none;	
}

.custom-button {
    background-color: #6699cc; 
    color: #fff; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
    width: 150px; 
}

.custom-button:hover {
    background-color: #0066cc; 
}


.button-container {
    text-align: center; 
}

/* Tablet Media Quiery */
@media (min-width: 768px) and (max-width: 1023px) {
    body {
        font-size: 110%; 
    }
    
    /* Unique tablet styles */
    .custom-button {
        padding: 2% 5%; 
    }
}

/* Desktop Media Quiery */
@media (min-width: 1024px) {
    body {
        font-size: 120%; 
    }

    /* Unique desktop styles */
    .custom-button {
        padding: 3% 6%; 
        border-radius: 10px;
    }
}
